@charset "UTF-8";
@font-face {
  font-family: "Copperplate";
  src: url("../fonts/Copperplate/Copperplate.woff") format("woff"), url("../fonts/Copperplate/Copperplate.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Thin/IBMPlexSans-Thin.woff") format("woff"), url("../fonts/IBM Sans/Thin/IBMPlexSans-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Thin-Italic/IBMPlexSans-ThinItalic.woff") format("woff"), url("../fonts/IBM Sans/Thin-Italic/IBMPlexSans-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Extra-Light/IBMPlexSans-ExtraLight.woff") format("woff"), url("../fonts/IBM Sans/Extra-Light/IBMPlexSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Extra-Light-Italic/IBMPlexSans-ExtraLightItalic.woff") format("woff"), url("../fonts/IBM Sans/Extra-Light-Italic/IBMPlexSans-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Light/IBMPlexSans-Light.woff") format("woff"), url("../fonts/IBM Sans/Light/IBMPlexSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Light-Italic/IBMPlexSans-LightItalic.woff") format("woff"), url("../fonts/IBM Sans/Light-Italic/IBMPlexSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Normal/IBMPlexSans.woff") format("woff"), url("../fonts/IBM Sans/Normal/IBMPlexSans.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Normal-Italic/IBMPlexSans-Italic.woff") format("woff"), url("../fonts/IBM Sans/Normal-Italic/IBMPlexSans-Italic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Medium/IBMPlexSans-Medium.woff") format("woff"), url("../fonts/IBM Sans/Medium/IBMPlexSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Medium-Italic/IBMPlexSans-MediumItalic.woff") format("woff"), url("../fonts/IBM Sans/Medium-Italic/IBMPlexSans-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Semi-Bold/IBMPlexSans-SemiBold.woff") format("woff"), url("../fonts/IBM Sans/Semi-Bold/IBMPlexSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Semi-Bold-Italic/IBMPlexSans-SemiBoldItalic.woff") format("woff"), url("../fonts/IBM Sans/Semi-Bold-Italic/IBMPlexSans-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Bold/IBMPlexSans-Bold.woff") format("woff"), url("../fonts/IBM Sans/Bold/IBMPlexSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IBM Sans";
  src: url("../fonts/IBM Sans/Bold-Italic/IBMPlexSans-BoldItalic.woff") format("woff"), url("../fonts/IBM Sans/Bold-Italic/IBMPlexSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "IBM Sans", Arial, sans-serif;
  font-size: 1.375rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #707070;
}

@media screen and (max-width: 1600px) {
  body {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1450px) {
  body {
    font-size: 1.125rem;
  }
}

.image {
  max-width: 100%;
  height: auto;
  pointer-events: none;
  vertical-align: middle;
}

.button {
  position: relative;
  background-color: transparent;
  display: inline-block;
  padding: 18px 35px;
  border: 2px solid;
  -webkit-border-radius: 33px;
          border-radius: 33px;
  font-size: 1.125rem;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2.9px;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

@media screen and (max-width: 1600px) {
  .button {
    padding: 15px 25px;
    letter-spacing: 2.2px;
    font-size: 1rem;
  }
}

.button:before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  width: 300px;
  height: 40px;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
          transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  -webkit-transition: border-color 1.4s ease-out, color 1.2s ease-out, -webkit-transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  transition: border-color 1.4s ease-out, color 1.2s ease-out, -webkit-transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1), border-color 1.4s ease-out, color 1.2s ease-out;
  transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1), border-color 1.4s ease-out, color 1.2s ease-out;
  transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1), border-color 1.4s ease-out, color 1.2s ease-out, -webkit-transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover {
  color: #bfb79e;
  border-color: #bfb79e;
}

.button:hover:before {
  -webkit-transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
          transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button--gray {
  color: #707070;
  border-color: #707070;
}

.wrapper {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
}

.main-title,
.sub-title {
  font-family: "Copperplate", serif;
  text-transform: uppercase;
  cursor: default;
  font-weight: 400;
}

.main-title {
  font-size: 2.125rem;
  letter-spacing: 1.6px;
  color: #31415d;
}

@media screen and (max-width: 1600px) {
  .main-title {
    font-size: 1.875rem;
  }
}

@media screen and (max-width: 1450px) {
  .main-title {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 1.625rem;
  }
}

@media screen and (max-width: 900px) {
  .main-title {
    font-size: 1.375rem;
  }
}

.sub-title {
  font-size: 4rem;
  letter-spacing: 2.8px;
  color: #bfb79e;
  line-height: 1;
}

@media screen and (max-width: 1600px) {
  .sub-title {
    font-size: 3.4375rem;
    letter-spacing: 2.5px;
  }
}

@media screen and (max-width: 1450px) {
  .sub-title {
    font-size: 3.25rem;
    letter-spacing: 2.3px;
  }
}

@media screen and (max-width: 1200px) {
  .sub-title {
    font-size: 3rem;
    letter-spacing: 2.1px;
  }
}

@media screen and (max-width: 900px) {
  .sub-title {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 600px) {
  .sub-title {
    font-size: 2rem;
  }
}

.section-intro {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-intro .main-title {
  margin-top: 0;
  margin-bottom: 0;
}

.section-intro .sub-title {
  margin-top: 25px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1600px) {
  .section-intro .sub-title {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .section-intro .sub-title {
    margin-top: 10px;
  }
}

.section-intro__text {
  max-width: 960px;
  margin: 0 auto;
  font-weight: 300;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #bfb79e;
}

.social__link svg {
  width: 35px;
  height: 35px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.social__link path {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.social__link:hover path {
  fill: #31415d;
}

.social__link:hover .social__text {
  color: #31415d;
}

.social__text {
  margin-left: 10px;
  margin-right: 30px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  .social__text {
    margin-right: 20px;
  }
}

@media screen and (max-width: 900px) {
  .social__text {
    display: none;
  }
}

.phone {
  text-decoration: none;
  color: #707070;
}

.main-header {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  right: 0;
  min-height: 70px;
  background-color: rgba(112, 112, 112, 0.95);
}

.main-header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  padding: 0 60px;
}

@media screen and (max-width: 1600px) {
  .main-header__content {
    padding: 0 40px;
  }
}

@media screen and (max-width: 900px) {
  .main-header__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 20px;
  }
}

.main-header__logo {
  font-size: 1rem;
  /* Сбрасываю размер шрифта от body 
												на стандартный, svg становится ровно по центру */
}

@media screen and (max-width: 900px) {
  .main-header__logo--text {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 900px) {
  .main-header__logo--icon {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.main-header__list {
  list-style: none;
  margin: 0 10px 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .main-header__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(112, 112, 112, 0.95);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
}

.main-header__item {
  display: inline-block;
  margin-right: 5px;
}

.main-header__link {
  display: block;
  padding: 5px 20px;
  font-size: 0.875rem;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 1450px) {
  .main-header__link {
    padding: 5px 10px;
  }
}

@media screen and (max-width: 900px) {
  .main-header__link {
    padding: 15px 50px;
  }
}

.main-header__link:hover span:after {
  width: 100%;
}

.main-header__link span {
  position: relative;
}

.main-header__link span:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -4px;
  left: -1px;
  display: block;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.main-header__nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 900px) {
  .main-header__nav-button {
    display: block;
  }
}

.promo {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 150px 50px 50px 150px;
  height: 100vh;
  max-height: 1000px;
  background-image: url("../img/header-marble-bg.jpg");
  background-position: center top;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media screen and (max-width: 1600px) {
  .promo {
    padding: 130px 50px 50px 100px;
  }
}

@media screen and (max-width: 1200px) {
  .promo {
    padding: 120px 50px 50px 40px;
  }
}

@media screen and (max-width: 900px) {
  .promo {
    padding: 320px 0 150px 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

@media screen and (max-width: 600px) {
  .promo {
    padding: 250px 0 100px 0;
  }
}

.promo__text-content {
  position: relative;
  z-index: 3;
  width: 100vw;
  height: 85vh;
  max-width: 800px;
  max-height: 800px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: left;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
}

@media screen and (max-width: 900px) {
  .promo__text-content {
    max-width: 100%;
    max-height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .promo__contacts {
    text-align: center;
  }
}

.promo__contacts .social {
  max-width: 200px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .promo__contacts .social {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

.promo__title {
  position: relative;
  font-size: 2.0625rem;
  letter-spacing: 1.6px;
  width: 70%;
  max-width: 700px;
}

@media screen and (max-width: 1600px) {
  .promo__title {
    font-size: 1.625rem;
    max-width: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .promo__title {
    font-size: 1.25rem;
    max-width: 450px;
  }
}

@media screen and (max-width: 900px) {
  .promo__title {
    width: 100%;
    margin-bottom: 50px;
    margin-left: 20px;
    font-size: 1.125rem;
  }
}

.promo__title span {
  position: absolute;
  bottom: -20%;
  left: 35%;
  display: block;
  width: 450px;
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width: 1600px) {
  .promo__title span {
    bottom: -15%;
    left: 28%;
  }
}

@media screen and (max-width: 1200px) {
  .promo__title span {
    left: 20%;
  }
}

@media screen and (max-width: 900px) {
  .promo__title span {
    left: 7%;
  }
}

.promo__adress {
  margin-bottom: 40px;
}

@media screen and (max-width: 1600px) {
  .promo__adress {
    margin-bottom: 30px;
  }
}

.promo__adress .phone {
  font-size: 2.5rem;
}

@media screen and (max-width: 1600px) {
  .promo__adress .phone {
    font-size: 2.1875rem;
  }
}

@media screen and (max-width: 1200px) {
  .promo__adress .phone {
    font-size: 1.875rem;
  }
}

.promo__fixed-button {
  position: fixed;
  z-index: auto;
  right: 50px;
  bottom: 7%;
  border: none;
  -webkit-border-radius: 33px;
          border-radius: 33px;
  background-color: rgba(112, 112, 112, 0.8);
  color: #ffffff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  padding: 20px 30px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  letter-spacing: 2.9px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1600px) {
  .promo__fixed-button {
    padding: 20px 25px;
  }
}

@media screen and (max-width: 1200px) {
  .promo__fixed-button {
    width: 280px;
    font-size: 1rem;
    padding: 20px 20px;
    bottom: 2%;
  }
}

@media screen and (max-width: 900px) {
  .promo__fixed-button {
    width: 95%;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

.promo__fixed-button:hover {
  background-color: rgba(49, 65, 93, 0.8);
}

.promo__bg-image {
  position: absolute;
  z-index: 1;
  bottom: -3%;
  left: 35%;
  height: 100%;
  width: 80%;
  max-width: 1150px;
}

@media screen and (max-width: 1600px) {
  .promo__bg-image {
    bottom: -8%;
  }
}

@media screen and (max-width: 1450px) {
  .promo__bg-image {
    bottom: 0;
    left: 35%;
  }
}

@media screen and (max-width: 1200px) {
  .promo__bg-image {
    width: 80%;
    bottom: -15%;
    left: 37%;
  }
}

@media screen and (max-width: 900px) {
  .promo__bg-image {
    display: none;
  }
}

.promo__mobile-bg {
  width: 100%;
  height: 100%;
  display: none;
}

@media screen and (max-width: 900px) {
  .promo__mobile-bg {
    display: block;
  }
}

.video-section {
  position: relative;
  max-height: 800px;
  min-height: 100px;
  height: 100%;
  width: 100%;
  padding-bottom: 56.25%;
  background-color: #000;
}

.video-section__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}

.video-section__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-section__button {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 160px;
  border: none;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1450px) {
  .video-section__button {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 900px) {
  .video-section__button {
    width: 75px;
    height: 75px;
  }
}

.video-section__button:hover {
  width: 155px;
  height: 155px;
}

@media screen and (max-width: 1450px) {
  .video-section__button:hover {
    width: 115px;
    height: 115px;
  }
}

@media screen and (max-width: 900px) {
  .video-section__button:hover {
    width: 70px;
    height: 70px;
  }
}

.video-section__button:hover .video-section__button-shape {
  fill: #bfb79e;
}

.video-section__button:hover .video-section__button-icon {
  fill: #ffffff;
}

.video-section__button-shape {
  fill: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.video-section__button-icon {
  fill: #bfb79e;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.video-section__desc {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .video-section__desc {
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .video-section__desc .sub-title {
    font-size: 1.5rem;
  }
}

.video-section__desc-text {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 500px;
}

@media screen and (max-width: 900px) {
  .video-section__desc-text {
    font-size: 1rem;
    bottom: 150px;
  }
}

@media screen and (max-width: 600px) {
  .video-section__desc-text {
    bottom: 30px;
  }
}

.video-section--enabled .video-section__button {
  display: block;
}

.about {
  position: relative;
  min-height: 1600px;
  padding: 50px 150px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e3dccd));
  background-image: -webkit-linear-gradient(top, #ffffff, #e3dccd);
  background-image: -o-linear-gradient(top, #ffffff, #e3dccd);
  background-image: linear-gradient(to bottom, #ffffff, #e3dccd);
}

@media screen and (max-width: 1600px) {
  .about {
    min-height: 1450px;
    padding: 50px 75px;
  }
}

@media screen and (max-width: 1450px) {
  .about {
    padding: 50px 0;
  }
}

@media screen and (max-width: 1200px) {
  .about {
    padding: 30px 0;
    min-height: 1350px;
  }
}

@media screen and (max-width: 900px) {
  .about {
    min-height: 1250px;
  }
}

.about__content {
  position: relative;
  z-index: 1;
  width: 100%;
}

.about__title {
  position: relative;
  margin-top: 100px;
  font-size: 1.875rem;
  letter-spacing: 1.2px;
  width: 70%;
  max-width: 900px;
}

@media screen and (max-width: 1600px) {
  .about__title {
    font-size: 1.625rem;
  }
}

@media screen and (max-width: 1200px) {
  .about__title {
    width: 60%;
    font-size: 1.375rem;
    margin-top: 50px;
  }
}

@media screen and (max-width: 900px) {
  .about__title {
    width: 95%;
    max-width: 600px;
    margin: 40px auto;
    font-size: 1.125rem;
  }
}

.about__title span {
  position: absolute;
  left: 300px;
  bottom: -70px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  .about__title span {
    left: 50%;
    -webkit-transform: translateX(-45%);
        -ms-transform: translateX(-45%);
            transform: translateX(-45%);
    white-space: normal;
    max-width: 350px;
  }
}

.about__desc {
  max-width: 680px;
  margin-top: 200px;
  margin-left: 100px;
  font-weight: 300;
}

@media screen and (max-width: 1600px) {
  .about__desc {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .about__desc {
    margin-top: 150px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 900px) {
  .about__desc {
    text-align: center;
    margin-top: 115px;
    margin-left: 0;
    margin-bottom: 250px;
    padding: 0 30px;
  }
}

.about__desc button {
  margin-top: 80px;
  margin-right: 45px;
}

@media screen and (max-width: 900px) {
  .about__desc button {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media screen and (max-width: 900px) {
  .about__download {
    display: none;
  }
}

.about__bg-image {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
}

.about__bg-image .image {
  width: 100%;
}

.advantages {
  position: relative;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 170px;
  padding: 90px 80px 50px;
  min-height: 980px;
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-align: center;
  background-image: -webkit-linear-gradient(215deg, #fcfbfa, #eeebe4 53%, #f4f1ed);
  background-image: -o-linear-gradient(215deg, #fcfbfa, #eeebe4 53%, #f4f1ed);
  background-image: linear-gradient(235deg, #fcfbfa, #eeebe4 53%, #f4f1ed);
  -webkit-box-shadow: 0 40px 70px 0 rgba(113, 106, 86, 0.16);
          box-shadow: 0 40px 70px 0 rgba(113, 106, 86, 0.16);
}

@media screen and (max-width: 1600px) {
  .advantages {
    min-height: 900px;
    max-width: 1400px;
    padding: 70px 80px 50px;
  }
}

@media screen and (max-width: 1450px) {
  .advantages {
    padding: 60px 70px 45px;
  }
}

@media screen and (max-width: 1200px) {
  .advantages {
    min-height: 800px;
    padding: 55px 30px 35px;
  }
}

@media screen and (max-width: 900px) {
  .advantages {
    bottom: 50px;
    padding: 50px 15px 30px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .advantages__list {
    display: none;
  }
}

.advantages__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.advantages__item:not(:last-child) {
  margin-right: 20px;
}

.advantages__button-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__button-group:hover .advantages__icon {
  width: 180px;
  height: 180px;
}

@media (max-width: 1600px) {
  .advantages__button-group:hover .advantages__icon {
    width: 165px;
    height: 165px;
  }
}

@media (max-width: 1200px) {
  .advantages__button-group:hover .advantages__icon {
    width: 155px;
    height: 155px;
  }
}

.advantages__button-group:hover .advantages__icon-text {
  color: #31415d;
}

.advantages__button-group:active .advantages__icon {
  background-color: #bfb79e;
}

.advantages__button-group:active path {
  fill: #ffffff;
}

.advantages__icon-button {
  border: none;
  cursor: pointer;
  width: 180px;
  height: 180px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1600px) {
  .advantages__icon-button {
    width: 165px;
    height: 165px;
  }
}

@media screen and (max-width: 1200px) {
  .advantages__icon-button {
    width: 155px;
    height: 155px;
  }
}

.advantages__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 170px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1600px) {
  .advantages__icon {
    width: 155px;
    height: 155px;
  }
}

@media screen and (max-width: 1200px) {
  .advantages__icon {
    width: 145px;
    height: 145px;
  }
}

.advantages__icon svg {
  width: 3.5em;
  height: 3.5em;
}

.advantages__icon path {
  fill: #ece9e9;
}

.advantages__icon-text {
  margin-top: 20px;
  font-family: "Copperplate", serif;
  text-transform: lowercase;
  color: #b1b6be;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.advantages__text {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  display: none;
  margin: 250px auto 0;
  max-width: 900px;
  font-weight: 300;
}

@media screen and (max-width: 1600px) {
  .advantages__text {
    margin: 220px auto 0;
  }
}

@media screen and (max-width: 1200px) {
  .advantages__text {
    max-width: 700px;
  }
}

.advantages__text--active {
  display: block;
}

.advantages__link {
  margin-top: 50px;
  text-decoration: none;
}

@media (max-width: 1600px) {
  .advantages__link {
    margin-top: 30px;
  }
}

.infrastructure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
  min-height: 6200px;
  width: 100%;
  margin-top: -140px;
  padding: 70px 0;
  text-align: center;
  background-image: url("../img/marble-1.png"), url("../img/marble-2.png"), url("../img/marble-3.png"), url("../img/marble-2.png"), -webkit-linear-gradient(256deg, #ffffff, #ededed 48%, #fafafa);
  background-image: url("../img/marble-1.png"), url("../img/marble-2.png"), url("../img/marble-3.png"), url("../img/marble-2.png"), -o-linear-gradient(256deg, #ffffff, #ededed 48%, #fafafa);
  background-image: url("../img/marble-1.png"), url("../img/marble-2.png"), url("../img/marble-3.png"), url("../img/marble-2.png"), linear-gradient(194deg, #ffffff, #ededed 48%, #fafafa);
  background-position: center 8%, center 35%, center 70%, center bottom, center center;
  -webkit-background-size: contain, contain, contain, contain, cover;
          background-size: contain, contain, contain, contain, cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1600px) {
  .infrastructure {
    min-height: 5200px;
  }
}

@media screen and (max-width: 900px) {
  .infrastructure {
    margin-top: -50px;
    background-image: url("../img/marble-1-small.png"), url("../img/marble-2-small.png"), url("../img/marble-1-small.png"), url("../img/marble-2-small.png"), -webkit-linear-gradient(256deg, #ffffff, #ededed 48%, #fafafa);
    background-image: url("../img/marble-1-small.png"), url("../img/marble-2-small.png"), url("../img/marble-1-small.png"), url("../img/marble-2-small.png"), -o-linear-gradient(256deg, #ffffff, #ededed 48%, #fafafa);
    background-image: url("../img/marble-1-small.png"), url("../img/marble-2-small.png"), url("../img/marble-1-small.png"), url("../img/marble-2-small.png"), linear-gradient(194deg, #ffffff, #ededed 48%, #fafafa);
    background-position: center 8%, center 35%, center 70%, center bottom, center center;
  }
}

.infrastructure__lines {
  position: absolute;
  z-index: -1;
  left: -1px;
  top: -800px;
  display: block;
  width: 1px;
  height: 8800px;
  background-color: #ece9e9;
}

@media screen and (max-width: 1600px) {
  .infrastructure__lines {
    height: 7000px;
  }
}

@media screen and (max-width: 1450px) {
  .infrastructure__lines {
    display: none;
  }
}

.infrastructure__lines:before, .infrastructure__lines:after {
  content: "";
  position: absolute;
  z-index: inherit;
  display: block;
  width: inherit;
  height: inherit;
  background-color: #ece9e9;
}

.infrastructure__lines:before {
  left: -500px;
}

.infrastructure__lines:after {
  left: 500px;
}

.infrastructure__content {
  width: 100%;
  margin-top: 250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

@media screen and (max-width: 1600px) {
  .infrastructure__content {
    margin-top: 180px;
  }
}

@media screen and (max-width: 1450px) {
  .infrastructure__content {
    margin-top: 130px;
  }
}

@media screen and (max-width: 1200px) {
  .infrastructure__content {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .infrastructure__content {
    margin-top: 80px;
  }
}

.infrastructure__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 200px;
  padding-right: 150px;
}

@media screen and (max-width: 1600px) {
  .infrastructure__item {
    padding-right: 0;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 1200px) {
  .infrastructure__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 130px;
  }
}

.infrastructure__item--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-left: 150px;
  padding-right: 0;
}

@media screen and (max-width: 1600px) {
  .infrastructure__item--reverse {
    padding-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .infrastructure__item--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.infrastructure__item--reverse .infrastructure__image {
  background-color: #bfb79e;
  margin-right: 0;
  margin-left: 110px;
}

@media screen and (max-width: 1600px) {
  .infrastructure__item--reverse .infrastructure__image {
    margin-left: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .infrastructure__item--reverse .infrastructure__image {
    margin-left: 0;
  }
}

.infrastructure__image {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 650px;
  height: 650px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #b1b6be;
  -webkit-box-shadow: 0 40px 70px 0 rgba(177, 182, 190, 0.6);
          box-shadow: 0 40px 70px 0 rgba(177, 182, 190, 0.6);
  margin-right: 90px;
}

@media screen and (max-width: 1600px) {
  .infrastructure__image {
    width: 550px;
    height: 550px;
    margin-right: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .infrastructure__image {
    width: 450px;
    height: 450px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 900px) {
  .infrastructure__image {
    width: 300px;
    height: 300px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.infrastructure__image--second img {
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 770px;
}

@media screen and (max-width: 1600px) {
  .infrastructure__image--second img {
    height: 650px;
  }
}

@media screen and (max-width: 1200px) {
  .infrastructure__image--second img {
    bottom: -1px;
    left: 26px;
    height: 505px;
  }
}

@media screen and (max-width: 900px) {
  .infrastructure__image--second img {
    height: 355px;
    left: 11px;
    bottom: 0;
  }
}

.infrastructure__image--third img {
  position: absolute;
  bottom: 0;
  left: 33px;
  height: 730px;
}

@media screen and (max-width: 1600px) {
  .infrastructure__image--third img {
    left: 28px;
    height: 615px;
  }
}

@media screen and (max-width: 1200px) {
  .infrastructure__image--third img {
    left: 20px;
    bottom: 1px;
    height: 511px;
  }
}

@media screen and (max-width: 900px) {
  .infrastructure__image--third img {
    height: 340px;
    left: 15px;
    bottom: 0;
  }
}

.infrastructure__image--fourth img {
  position: absolute;
  bottom: -2px;
  left: 130px;
  height: 730px;
}

@media screen and (max-width: 1600px) {
  .infrastructure__image--fourth img {
    bottom: 0;
    left: 105px;
    height: 630px;
  }
}

@media screen and (max-width: 1200px) {
  .infrastructure__image--fourth img {
    left: 82px;
    bottom: 0;
    height: 530px;
  }
}

@media screen and (max-width: 900px) {
  .infrastructure__image--fourth img {
    height: 350px;
    left: 55px;
    bottom: 0;
  }
}

.infrastructure__image--fifth img {
  position: absolute;
  bottom: 150px;
  left: -15px;
  max-width: 700px;
}

@media screen and (max-width: 1600px) {
  .infrastructure__image--fifth img {
    max-width: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .infrastructure__image--fifth img {
    max-width: 500px;
    bottom: 100px;
  }
}

@media screen and (max-width: 900px) {
  .infrastructure__image--fifth img {
    max-width: 350px;
    bottom: 70px;
  }
}

.infrastructure__image--sixth img {
  position: absolute;
  bottom: -50px;
  left: 55px;
  height: 800px;
}

@media screen and (max-width: 1600px) {
  .infrastructure__image--sixth img {
    left: 80px;
    height: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .infrastructure__image--sixth img {
    left: 60px;
    height: 500px;
  }
}

@media screen and (max-width: 900px) {
  .infrastructure__image--sixth img {
    height: 370px;
    left: 30px;
    bottom: -20px;
  }
}

.infrastructure__desc {
  max-width: 590px;
  font-weight: 300;
}

.infrastructure__desc .main-title {
  position: relative;
}

.infrastructure__link {
  width: 275px;
  display: inline-block;
  margin-top: 60px;
  padding: 20px 25px;
  font-size: 1.125rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 2.9px;
  text-decoration: none;
  text-transform: uppercase;
  color: #31415d;
  border-top: 2px solid #bfb79e;
  border-bottom: 2px solid #bfb79e;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1600px) {
  .infrastructure__link {
    width: 250px;
    margin-top: 40px;
    padding: 15px 20px;
  }
}

@media screen and (max-width: 1200px) {
  .infrastructure__link {
    margin-top: 20px;
  }
}

.infrastructure__link svg {
  margin-left: 30px;
  vertical-align: middle;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1600px) {
  .infrastructure__link svg {
    margin-left: 20px;
  }
}

.infrastructure__link span {
  margin-left: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1600px) {
  .infrastructure__link span {
    margin-left: 10px;
  }
}

.infrastructure__link:hover span {
  margin-left: 15px;
}

@media screen and (max-width: 1600px) {
  .infrastructure__link:hover span {
    margin-left: 5px;
  }
}

.infrastructure__link:hover svg {
  margin-left: 50px;
}

@media screen and (max-width: 1600px) {
  .infrastructure__link:hover svg {
    margin-left: 40px;
  }
}

.infrastructure__middle-section {
  margin-bottom: 180px;
}

.infrastructure .middle-section {
  max-width: 1600px;
  width: 95%;
  background-color: #ffffff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 0 40px 70px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 40px 70px 0 rgba(0, 0, 0, 0.13);
}

@media screen and (max-width: 1200px) {
  .infrastructure .middle-section {
    min-height: 900px;
    max-width: 800px;
  }
}

.infrastructure .middle-section__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .infrastructure .middle-section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.infrastructure .middle-section__image-container {
  position: relative;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .infrastructure .middle-section__image-container {
    width: 100%;
    height: 300px;
  }
}

.infrastructure .middle-section__image {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  -webkit-border-radius: 0 20px 20px 0;
          border-radius: 0 20px 20px 0;
}

@media screen and (max-width: 1200px) {
  .infrastructure .middle-section__image {
    position: static;
  }
}

.infrastructure .middle-section__image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .infrastructure .middle-section__image img {
    -webkit-border-radius: 20px 20px 0 0;
            border-radius: 20px 20px 0 0;
    height: 300px;
  }
}

.infrastructure .middle-section__text-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .infrastructure .middle-section__text-container {
    max-width: 700px;
    padding: 0 30px;
    width: 100%;
  }
}

.infrastructure .middle-section__text-container .sub-title {
  margin-top: 35px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1450px) {
  .infrastructure .middle-section__text-container .sub-title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .infrastructure .middle-section__text-container .sub-title {
    font-size: 1.625rem;
  }
}

.infrastructure .middle-section__text-container .button--gray {
  margin-top: 70px;
}

@media screen and (max-width: 1450px) {
  .infrastructure .middle-section__text-container .button--gray {
    margin-top: 30px;
  }
}

.infrastructure .middle-section__desc {
  max-width: 650px;
  margin: 0 auto;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  .infrastructure .middle-section__desc {
    max-width: 550px;
  }
}

.infrastructure .button--gray {
  position: relative;
  left: 0;
}

@media screen and (max-width: 1600px) {
  .infrastructure .button--gray {
    left: 1%;
  }
}

@media screen and (max-width: 1600px) {
  .infrastructure .button--gray {
    left: 0;
  }
}

.apartment-selection {
  position: relative;
  z-index: 2;
  min-height: 2000px;
  padding: 115px 50px;
  background-image: -webkit-linear-gradient(239deg, #ffffff, #e3dccd);
  background-image: -o-linear-gradient(239deg, #ffffff, #e3dccd);
  background-image: linear-gradient(211deg, #ffffff, #e3dccd);
}

@media screen and (max-width: 1200px) {
  .apartment-selection {
    padding: 80px 50px;
  }
}

@media screen and (max-width: 900px) {
  .apartment-selection {
    padding: 60px 0;
  }
}

.apartment-selection__gallery {
  margin-top: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 30px;
}

@media screen and (max-width: 1450px) {
  .apartment-selection__gallery {
    margin-top: 70px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.apartment-selection__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 435px;
  max-width: 515px;
  max-height: 615px;
  padding-bottom: 70px;
}

.apartment-selection__item .sub-title {
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  margin-bottom: 0;
}

.apartment-selection__item > p {
  font-weight: 300;
  max-width: 300px;
  font-size: 1.25rem;
}

.apartment-selection__image {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 40px 70px 0 #bfb79e;
          box-shadow: 0 40px 70px 0 #bfb79e;
  min-height: 450px;
}

.apartment-selection__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  height: 280px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: 55px;
}

@media screen and (max-width: 1600px) {
  .apartment-selection__icon {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 1450px) {
  .apartment-selection__icon {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 900px) {
  .apartment-selection__icon {
    margin-bottom: 20px;
  }
}

.apartment-selection__icon svg {
  width: 5.5em;
  height: 5.5em;
}

.apartment-selection__bottom-photo {
  display: block;
  width: 100%;
  margin-bottom: 80px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 40px 70px 0 #bfb79e;
          box-shadow: 0 40px 70px 0 #bfb79e;
}

.apartment-selection__button {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  width: 250px;
}

.main-footer {
  padding: 80px 70px 30px;
  min-height: 540px;
  background-image: -webkit-linear-gradient(199deg, #ffffff, #ededed 48%, #fafafa);
  background-image: -o-linear-gradient(199deg, #ffffff, #ededed 48%, #fafafa);
  background-image: linear-gradient(251deg, #ffffff, #ededed 48%, #fafafa);
}

@media screen and (max-width: 1600px) {
  .main-footer {
    padding: 80px 25px 30px;
  }
}

@media screen and (max-width: 1200px) {
  .main-footer {
    padding: 60px 15px 80px;
  }
}

@media screen and (max-width: 900px) {
  .main-footer {
    padding: 60px 10px 130px;
  }
}

.main-footer__content {
  margin: 0 50px;
}

@media screen and (max-width: 1600px) {
  .main-footer__content {
    margin: 0 25px;
  }
}

@media screen and (max-width: 900px) {
  .main-footer__content {
    margin: 0;
  }
}

.main-footer__form {
  height: 70px;
  margin-bottom: 80px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .main-footer__form {
    margin-bottom: 50px;
  }
}

.main-footer__form .search-field {
  font-family: "IBM Sans", sans-serif;
  font-size: 1.25rem;
  padding: 0 80px;
  width: 100%;
  height: 65px;
  border: none;
  -webkit-border-radius: 33px;
          border-radius: 33px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
}

.main-footer__form .search-field::-webkit-input-placeholder {
  font-weight: 300;
  letter-spacing: 0.8px;
}

.main-footer__form .search-field:-ms-input-placeholder {
  font-weight: 300;
  letter-spacing: 0.8px;
}

.main-footer__form .search-field::-ms-input-placeholder {
  font-weight: 300;
  letter-spacing: 0.8px;
}

.main-footer__form .search-field::placeholder {
  font-weight: 300;
  letter-spacing: 0.8px;
}

.main-footer__form .search-field::-webkit-search-cancel-button {
  display: none;
}

.main-footer .search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 21px;
  left: 35px;
}

.main-footer__middle-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .main-footer__middle-section {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-footer__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 750px;
  height: 200px;
}

@media screen and (max-width: 1600px) {
  .main-footer__list {
    width: 685px;
  }
}

@media screen and (max-width: 1200px) {
  .main-footer__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .main-footer__list {
    width: 100%;
  }
}

.main-footer__item {
  display: block;
  margin-bottom: 10px;
  margin-right: 20px;
}

@media screen and (max-width: 1200px) {
  .main-footer__item {
    margin-right: 0;
  }
}

.main-footer__link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.8px;
  white-space: nowrap;
  color: #707070;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 900px) {
  .main-footer__link {
    font-size: 0.9375rem;
  }
}

.main-footer__link:hover {
  color: black;
}

.main-footer__contacts {
  font-size: 1.25rem;
  text-align: right;
  font-weight: 300;
  margin-bottom: 30px;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  .main-footer__contacts {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .main-footer__contacts {
    font-size: 1.125rem;
  }
}

.main-footer__contacts > p {
  margin-top: 0;
}

@media screen and (max-width: 1200px) {
  .main-footer__contacts > p {
    margin-bottom: 10px;
  }
}

.main-footer__contacts .button {
  margin-top: 80px;
}

@media screen and (max-width: 1200px) {
  .main-footer__contacts .button {
    margin-top: 20px;
  }
}

.main-footer__social {
  margin-bottom: 50px;
  font-size: 1.25rem;
}

@media screen and (max-width: 1200px) {
  .main-footer__social {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 900px) {
  .main-footer__social__item {
    margin-bottom: 5px;
  }
}

.main-footer__social svg {
  width: 28px;
  height: 28px;
}

.main-footer__social path {
  fill: #bfb79e;
}

.main-footer__social-icon {
  width: 30px;
  height: 30px;
}

.main-footer__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .main-footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main-footer__bottom small {
  font-size: initial;
}

.main-footer__bottom small:first-child {
  margin-top: 15px;
}

.main-footer__bottom a {
  text-decoration: none;
  color: inherit;
}

.main-footer__bottom a:hover {
  text-decoration: underline;
}
